<div class="container">
  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
  <p><%= link_to "Back to list", restaurants_path %></p>
  <p><strong>Reviews</strong></p>
  <ul class="list-group">
  <p><%= link_to "New review", new_restaurant_review_path(@restaurant) %></p>
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %> - <%= review.rating %> / 5</li>
    <% end %>
  </ul>
</div>
